<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mongo Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  {{!-- <link rel="stylesheet" type="text/css" href="/public/css/style.css"/> --}}

  <style>
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  background-image: url("../images/body_background.jpg");
}

h5 {
color: white;
}


.card a:not([href]):not([tabindex]).scrape-new {
  color: #2196F3;
}

.card-blank a:not([href]):not([tabindex]).scrape-new {
  color: #2196F3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #2196f3;
}

.navbar {
  margin-bottom: 0;
  color: white;
  background-color: lightslategrey;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  font-family: "Cormorant SC";
  box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(#333, black);
  opacity: 0.7;
}

.jumbotron .background-image {
  height: 100%;
  background-image: url("../images/newspaper.jpg");
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: 800;
}

.jumbotron p {
  font-size: 30px;
}



.article-container {
  padding-bottom: 15px;
}

.card {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  width:375px; 
  height:650px; 
  float: left;
  margin:10px;
}

.card-blank {
  border-radius: 0;
  box-shadow: 3px 3px 20px lightslategrey;
  width:900px; 
  height:150px; 
  float: center;
  background-color: white;
}

.card-blank .card-header {
background-color: #aa0909;
color: white;
}

.card .card-header {
  background-color: #525151;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card .card-header h3 {
  color: white;
}

.card .card-header .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card .card-body .btn.delete {
  margin-right: 5px;
}

.card .card-body {
  font-size: 16px;
}

.card .card-header .article-link {
  color: white;
  display: inline-block;
  width: 80%;
}


.navbar-nav > li  {
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 800;
  color: white;
}

.active-right  {
  padding-left: 500px;
  color: white;
}



.nav-itemleft {
padding-left: 75px;
padding-right: 10px;
}

.nav-itemright {
padding-left: 600px;
padding-right: 10px;
}




.scrape-new {
  cursor: pointer;
}

.m-top-80 {
  margin-top: 80px;
}

textarea {
  padding: 10px;
  resize: none;
  width: 100%;
}

.bootbox-body .btn {
  float: right;
  margin: 5px;
}

.note.list-group-item .btn {
  position: relative;
  bottom: 10px;
}


  </style>
</head>

<body>
  {{{ body }}}
</body>

</html>

